<!doctype html>
<html>

<head>
  {% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ note.title }} | {{ site.title | default("Notes") }}</title>
  <link rel="stylesheet" type="text/css" href="/_static/style.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/stackoverflow-dark.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
  {% endblock %}
</head>

<body>
  {% include "sidebar.html" %}

  <div class="main-area">
    <div class="topnav">
      <button id="toggle-menu">☰</button>
      <nav>
        {%- if site.topnav and site.topnav.links -%}
        {% for link in site.topnav.links -%}
        <a title="{{ link.text }}" href="{{ link.href }}">{{ link.text }}</a>
        {%- endfor %}
        {%- endif -%}
      </nav>
    </div>

    <div class="actions">
      <button id="toggle-metadata">☰ Metadata</button>
    </div>

    <main class="main-content">
      {% block content %}{% endblock %}
    </main>
  </div>

  <script type="module">
    import {initGraph, toc} from "/_static/script.js"
    const currentPath = {{path | tojson | safe}}
    const graph = {{graph | tojson | safe}}

    const g = initGraph(currentPath, graph)
    document.getElementById("graph").appendChild(g.node())

    const menuEl = document.getElementById("menu")
    const rightSidebar = document.getElementById("article-aside")

    document.getElementById("toggle-menu").addEventListener("click", (event) => {
      menuEl.classList.toggle("show")
      rightSidebar.classList.remove("show")
      event.stopPropagation()
    })
    document.getElementById("toggle-metadata").addEventListener("click", (event) => {
      rightSidebar.classList.toggle("show")
      menuEl.classList.remove("show")
      event.stopPropagation()
    })
    document.addEventListener("click", (event) => {
      if (!menuEl.contains(event.target)) {
        menuEl.classList.remove("show")
      }

      if (!rightSidebar.contains(event.target)) {
        rightSidebar.classList.remove("show")
      }
    })

    hljs.highlightAll()

    const articleEl = document.getElementById("note-content")
    const tocSectionEl = document.getElementById("toc-section")
    toc(articleEl, tocSectionEl)
  </script>
</body>

</html>